<div class="row">
  <div class="col-md-8 offset-2" style="margin-top:5%;">
      <form [formGroup]="editForm" (ngSubmit)="submitEditForm()">
        <div class="form-group">
          <label for="email">Post Title:</label>
          <input type="email" class="form-control" formControlName="title" [(ngModel)]="post.title">
           </div>
        <div class="form-group">
          <label for="pwd">Post Content:</label>
          <textarea class="form-control" formControlName="content" [(ngModel)]="post.content"></textarea>

          
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>

